
.clone-template{ background: aliceblue; position:relative;}
.remove-clone-template-row { position: absolute; top: 12px; right: 10px; background: red; color: #fff; padding: 8px; border-radius: 50%; font-size: 12px; cursor:pointer; width: 30px; text-align: center; }
